{% extends 'layout.html' %}
{% block content %}
    <div class="container text-center">

  <!-- Page Heading -->
        <div class="border-bottom border-info pt-2">
          <h1>
            <small>Business</small>
          </h1>
        </div>
          <div class="row mt-2 text-center">
                <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
                  <div class="card h-100">
                    <div class="text-center"><h3>{{ business.business_title }}</h3></div>
                    <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='profile_pics/' + current_user.user_image_file) }}" alt=""></a>
                    <div class="card-body">
                        <div class="post-description border-bottom border-warning">
                            <ul class="list-group">
                                <li class="list-item">Date Posted:  {{ business.business_date_posted.strftime('%Y-%m-%d') }}</li>
                                <li class="list-item">Category: {{ business.business_category }}</li>
                                <li class="list-item">Location: {{ business.business_location }}</li>
                                <li class="list-item">Posted By: {{ business.business_owner.username}}</li>
                            </ul>
                        </div>
                      <p class="card-text">{{ business.business_description }}
                  </div>
                </div>
          </div> <!-- Row end -->
</div>
<!-- /.container -->
{% endblock content %}
