{% extends "layout.html" %}
	{% block content %}
    <!-- The Header Section -->
   <section class="header-section">
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">Welcome to BizYetu</h1>
            <p class="lead mb-0">The Business Pace-Setters!</p>
          </div>
        </div>
      </div>
  </section>
<!-- The businesses section -->
    <div class="container-fluid">
      <div class="col-xm-12 col-sm-10">
        <div class="border-bottom border-info pt-2">
          <h1>
            <small>Hot News <i class="fa fa-fire text-danger"></i></small>
          </h1>
        </div>
      </div>
          
          <h1><small>Top Businesses <i class="fa fa-globe text-primary"></i></small></h1>
        <div class="row">
          {% for business in businesses %}
              <div class="col-md-4 col-sm-4 pb-2">
                <div class="card">
                   <div class="bg-success p-2 text-light">
                     <h5 class="card-title">{{ business.business_title }} </h5>
                      <small class="float-right font-italic font-weight-light">{{ business.business_category }}, {{ business.business_location }}</small>
                  </div>
                  <div class="card-body">
                    <p class="card-text">{{ business.business_description }}</p>
                    <div class="mb-1">
                      <small class="text-muted">Posted on {{ business.business_date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <div class="text-muted mb-1 border-bottom border-success">
                      <small class="text-muted">10 reviews</small>
                    </div>
                    <a href="#" class="text-primary">More ...</a>
                    <a href="#" class="text-info">More ...</a>
                  </div>
                </div>
            </div>
          {% endfor %}
      </div>
<!-- container -->

  <!-- Partners -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="../static/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="../static/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="../static/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="../static/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

<!-- The Footer section -->
    <footer>
            <div class="container-fluid text-center">
                <section class="home-newsletter pt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single">
                                    <h2>Subscribe to our Newsletter</h2>
                                    <div class="input-group">
                                         <input type="email" class="form-control" placeholder="Enter your email">
                                         <span class="input-group-btn">
                                         <button class="btn btn-theme" type="submit">Subscribe</button>
                                         </span>
                                    </div>
                                </div>
                                <div style="color: white" class="pt-4">
                                    <p>&copy;<script type="text/javascript">document.write(new Date().getFullYear());</script></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
	{% endblock content%}
