<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">

	<!-- Custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- title -->
	{% if title %}
		<title>BizYetu - {{ title }}</title>
	{% else %}
		<title>BixYetu</title>
	{% endif %}
</head>
<!-- The body section -->
<body>
	<header class="site-header">
		<!-- The navigation section -->
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container-fluid">
	      <a class="navbar-brand mr-4" href="/">BizYetu</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
	          <a class="nav-item nav-link" href="{{ url_for('about') }}">Who are we?</a>
	          <a class="nav-item nav-link" href="#">Reach Out</a>
	          <a class="nav-item nav-link" href="{{ url_for('businesses') }}">Businesses</a>
	          {% if current_user.is_authenticated %}
	          		<a class="nav-item nav-link" href="{{ url_for('new_business') }}">Register Business</a>
	          {% endif %}
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        	<div class="nav-item nav-link social-links">
	        		<a href="#" class="fa fa-facebook mr-3"></a>
	        		<a href="#" class="fa fa-twitter mr-3"></a>
	        		<a href="#" class="fa fa-whatsapp mr-3"></a>
	        		<a href="#" class="fa fa-instagram mr-3"></a>
	        	</div>
	        		{% if current_user.is_authenticated %}
	        			    	<a class="nav-item nav-link" href="{{ url_for('account') }}">Profile</a>
					        	<div class="dropdown">
									  <a class="nav-item nav-link dropdown-toggle text-warning" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.username }}</a>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									  	<a class="dropdown-item" href="{{ url_for('logout') }}">Log <i class="fa fa-sign-out"></i></a>
									  </div>
								</div>
	        		{% else %}
		        		<a class="nav-item nav-link" href="{{ url_for('login') }}">Log In </a>
		        		<a class="nav-item nav-link" href="{{ url_for('register') }}" >Register</a>
		        	{% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

<!-- The main section -->
	<main >
	    	{% with messages = get_flashed_messages(with_categories=true) %}
	    		{% if messages %}
	    			{% for category, message in messages %}
	    				<div class="mt-5 text-center alert">
	    					{{ message }}
	    					<button type="button" class="close" data-dismiss="alert">×</button>
	    				</div>
	    			{% endfor %}
	    		{% endif %}
	    	{% endwith %}
	    {% block content %}{% endblock %}
	</main>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
