{% extends 'layout.html' %}
    {% block content %}
      <svg viewbox="0 0 100 20">
      <!-- <path fill="#F2FFB6" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" /> -->
  </svg>
            <div class="content-section container col-md-8 pt-4">
                <div class="text-center">
                    <h2>Join Us Today</h2>
                </div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="md-form mb-2">
                          <div class="form-group">
                                <i class="fa fa-user"></i> {{ form.username.label(class="form-control-label")}}

                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-sm is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-sm")}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="md-form mb-2">
                          <div class="form-group">
                                <i class="fa fa-envelope"></i> {{ form.email.label(class="form-control-label")}}

                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-sm is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-sm")}}
                                {% endif %}
                            </div>
                        </div>

                        <div class="md-form mb-2">
                          <div class="form-group">
                                <i class="fa fa-tag"></i> {{ form.user_type.label(class="form-control-label")}}

                                {% if form.user_type.errors %}
                                    {{ form.user_type(class="form-control form-control-sm is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.user_type.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.user_type(class="form-control form-control-sm")}}
                                {% endif %}

                            </div>
                        </div>
                        <div class="md-form mb-2">
                            <div class="form-group">
                                <i class="fa fa-lock"></i> {{ form.password.label(class="form-control-label")}}

                                {% if form.password.errors %}passwordconfirm
                                    {{ form.password(class="form-control form-control-sm is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-sm")}}
                                {% endif %}

                            </div>
                        </div>
                        <div class="md-form mb-2">
                                <div class="form-group">
                                    <i class="fa fa-lock"></i> {{ form.confirm_password.label(class="form-control-label")}}

                                    {% if form.confirm_password.errors %}
                                        {{ form.confirm_password(class="form-control form-control-sm is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.confirm_password(class="form-control form-control-sm")}}
                                    {% endif %}

                                </div>
                        </div>
                        <div class="md-form mb-2">
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-success") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="form-group text-center">
                        <small class="txt-muted">
                             Already have An Account? <a href="{{ url_for('login') }}"><span id="" style="color: #ffc615">Log In</span></a>
                        </small>
                </div>
            </div>

<!-- the footer section -->
<footer class="py-3">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights digitol.com All rights reserved.</p>
  </div>
</footer>
    {% endblock content %}
