{% extends 'layout.html' %}
    {% block content %}
           <div class="container content-section col-md-6 pt-5 mt-5">
                    <div class="text-center col-12">
                        <h2>Log In</h2>
                    </div>
                    <div>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                <i class="fa fa-envelope"></i> {{ form.email.label(class="form-control-label")}}

                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-sm is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-sm")}}
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock"></i> {{ form.password.label(class="form-control-label")}}

                                {% if form.password.errors %}passwordconfirm
                                    {{ form.password(class="form-control form-control-sm is-invalid")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-sm")}}
                                {% endif %}
                            </div>
                            <div class="form-check">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                            <small class="ml-2">
                                <a href="#" id="forgot-password">Forgot Password</a>
                            </small>
                    </fieldset>
                </form>
            </div>
                <div class="form-group text-center">
                        <small class="txt-muted">
                            Don't have An Account? <a href="{{ url_for('register') }}"><span id="" style="color: #ffc615">Register</span></a>
                        </small>
                </div>
            </div>
    {% endblock content %}
