body {
  color: #333333;
  margin-top: 0rem;
  overflow-x: hidden;
  font-family: Gotham,Arial,Helvetica Neue,Helvetica,sans-serif;;
}

h2, h3, h4, h5, h6 {
  color: #444444;
}
.navbar-brand{
  color: #ffff00 !important;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.bg-steel, footer {
  background-color: #323ab1;
  padding: 0px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.social-links a{
  color: white;
}
.social-links a:hover{
  color: gray;
  text-decoration: none;
}
.login-register a{
  color: white;
}
.login-register a:hover{
  text-decoration: none;
  color: #cc9e9e;
}
.alert{
  font-size: 15px;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #2AD8A2;
  color: #ffffff;
  font-family: Poppins;
}
svg {
  background: url('top-image.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  display: block;
}
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.content-section{
  background-color: #323ab1;
  color: #ffffff;
}
#forgot-password{
  color: #a7ff07;
}
#forgot-password:hover{
  text-decoration: none;
  color: #ffffff;
}
#dropdownMenuButton:hover{
  cursor: pointer;
}
/*register and login pages*/
.content-section h2{
  color: #eef7ff;
}


/* footer section*/
.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}

/*The account page*/
  .border{
    border-bottom:1px solid #F1F1F1;
    margin-bottom:10px;
  }
  .main-secction{
    box-shadow: 10px 10px 10px;
  }
  .image-section{
    padding: 0px;
  }
  .image-section img{
    width: 100%;
    height:250px;
    position: relative;
  }
  .user-image{
    position: absolute;
    margin-top:-50px;
  }
  .user-left-part{
    margin: 0px;
  }
  .user-image img{
    width:100px;
    height:100px;
  }
  .user-profil-part{
    padding-bottom:30px;
    background-color:#FAFAFA;
  }
  .follow{
    margin-top:70px;
  }
  .user-detail-row{
    margin:0px;
  }
  .user-detail-section2 p{
    font-size:12px;
    padding: 0px;
    margin: 0px;
  }
  .user-detail-section2{
    margin-top:10px;
  }
  .user-detail-section2 span{
    color:#7CBBC3;
    font-size: 20px;
  }
  .user-detail-section2 small{
    font-size:12px;
    color:#D3A86A;
  }
  .profile-right-section{
    padding: 20px 0px 10px 15px;
    background-color: #FFFFFF;
  }
  .profile-right-section-row{
    margin: 0px;
  }
  .profile-header-section1 h1{
    font-size: 25px;
    margin: 0px;
  }
  .profile-header-section1 h5{
    color: #0062cc;
  }
  .req-btn{
    height:30px;
    font-size:12px;
  }
  .profile-tag{
    padding: 10px;
    border:1px solid #F6F6F6;
  }
  .profile-tag p{
    font-size: 12px;
    color:black;
  }
  .profile-tag i{
    color:#ADADAD;
    font-size: 20px;
  }
  .image-right-part{
    margin: 0px;
    padding: 5px;
  }
  .img-main-rightPart{
/*    background-color: #a9a996;*/
    background-image: url('https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg');
    margin-top: auto;
  }
  .image-right-detail{
    padding: 0px;
  }
  .image-right-detail p{
    font-size: 12px;
  }
  .image-right-detail a:hover{
    text-decoration: none;
  }
  .image-right img{
    width: 100%;
  }
  .image-right-detail-section2{
    margin: 0px;
  }
  .image-right-detail-section2 p{
    color:#38ACDF;
    margin:0px;
  }
  .image-right-detail-section2 span{
    color:#7F7F7F;
  }


/* Businesses page custom css*/
.carousel-item {
  height: 45vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-item h3{
  color: #671818;
  margin-bottom: 100px;
}
table{
  font-family: Roboto,sans-serif;
  font-size: .9rem;
  color: #ffffff;
  font-weight: 300;
  background-image: linear-gradient(#24C6DC, #514A9D);
}
table a{
  text-decoration: none;
  color: #ffffff;
}
table a:hover{
  text-decoration: none;
  font-size: .92rem;
  color: #c4c9d0;
}
table thead{
  background-color: #3f4071;
}

/*.header-section*/
.header-section {
  position: relative;
  background-color: black;
  height: 55vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.header-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header-section .container {
  position: relative;
  z-index: 2;
}

.header-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #323ab1;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .header-section {
    background: url('https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_960_720.jpg') black no-repeat center center scroll;
  }
  .header-section video {
    display: none;
  }
}
