<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
	{% if title %}
		<title>BizYetu - {{ title }}</title>
	{% else %}
		<title>BixYetu</title>
	{% endif %}
</head>
<body>	
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container-fluid">
	      <a class="navbar-brand mr-4" href="/">BizYetu</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
	          <a class="nav-item nav-link" href="{{ url_for('about') }}">Who are we?</a>
	          <a class="nav-item nav-link" href="#">Reach Out</a>
	          <a class="nav-item nav-link" href="#">Services</a>
	          <div class="dropdown">
				  <a class="nav-item nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Businesses</a>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="#">AGRICULTURE</a>
				    <a class="dropdown-item" href="#">TECHNOLOGY</a>
				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="#">SME</a>
				  </div>
				</div>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	        	<div class="nav-item nav-link social-links">
	        		<a href="#" class="fa fa-facebook mr-3"></a>
	        		<a href="#" class="fa fa-twitter mr-3"></a>
	        		<a href="#" class="fa fa-whatsapp mr-3"></a>
	        		<a href="#" class="fa fa-instagram mr-3"></a>
	        	</div>
	        	<div class=" nav-item nav-link login-register">
	        		<a href="#" data-toggle="modal" data-target="#modalLogInForm">Log In /
	        		<a href="#" data-toggle="modal" data-target="#modalRegisterForm">Register 
	        	</div>
	        	<a class="nav-item nav-link" href="#">Profile</a>
	        	<div class="dropdown">
				  <a class="nav-item nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anonymous</a>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	<a class="dropdown-item" href="#">Log Out
				  		<img src="https://img.icons8.com/dotty/80/000000/logout-rounded-up.png" width="17px">
				  	</a>
				  </div>
				</div>
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

<!-- Sign Up modal class section-->
	<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header text-center">
		        <h4 class="modal-title w-100 font-weight-bold">Join Us Today</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body mx-3">
		      	<form method="POST" action="">
					{{ form.hidden_tag() }}
			        <div class="md-form mb-2">
			          <div class="form-group">
							{{ form.username.label(class="form-control-label")}}
							
							{% if form.username.errors %}
								{{ form.username(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.username(class="form-control form-control-lg")}}
							{% endif %}
						</div>
			        </div>
			        <div class="md-form mb-2">
			          <div class="form-group">
							{{ form.email.label(class="form-control-label")}}
							
							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.email(class="form-control form-control-lg")}}
							{% endif %}
						</div>
			        </div>

			        <div class="md-form mb-2">
			          <div class="form-group">
							{{ form.user_type.label(class="form-control-label")}}
							
							{% if form.user_type.errors %}
								{{ form.user_type(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.user_type.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.user_type(class="form-control form-control-lg")}}
							{% endif %}

						</div>
			        </div>
			        <div class="md-form mb-2">
			        	<div class="form-group">
							{{ form.password.label(class="form-control-label")}}
							
							{% if form.password.errors %}passwordconfirm
								{{ form.password(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.password.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.password(class="form-control form-control-lg")}}
							{% endif %}

						</div>
					</div>
					<div class="md-form mb-2">
							<div class="form-group">
								{{ form.confirm_password.label(class="form-control-label")}}
								
								{% if form.confirm_password.errors %}
									{{ form.confirm_password(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.confirm_password.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.confirm_password(class="form-control form-control-lg")}}
								{% endif %}

							</div>
			        </div>
			        <div class="md-form mb-2">
			        	<div class="form-group">
			        		{{ form.submit(class="btn btn-outline-success") }}
			        	</div>
			        </div>
		    	</form>
		      </div>
		      <div class="modal-footer d-fex justify-content-center">
		        <div class="form-group">
						<small class="txt-muted">
							 Already have An Account? <a href="#" data-toggle="modal" data-target="#modalLogInForm"><span id="" style="color: #ffc615">Log In</span></a>
						</small>
				</div>
		      </div>
		    </div>
		  </div>
	</div>

	<!-- Login modal class section-->
	<div class="modal fade" id="modalLogInForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header text-center">
		        <h4 class="modal-title w-100 font-weight-bold">Log In</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body mx-3">
			      	<form method="POST" action="">
						{{ login_form.hidden_tag() }}
							<div class="form-group">
								{{ login_form.email.label(class="form-control-label")}}
								
								{% if login_form.email.errors %}
									{{ login_form.email(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.email.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ login_form.email(class="form-control form-control-lg")}}
								{% endif %}

							</div>
							<div class="form-group">
								{{ login_form.password.label(class="form-control-label")}}
								
								{% if login_form.password.errors %}passwordconfirm
									{{ login_form.password(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.password.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ login_form.password(class="form-control form-control-lg")}}
								{% endif %}

							</div>
							<div class="form-check">
								{{ login_form.remember(class="form-check-input") }}
								{{ login_form.remember.label(class="form-check-label") }}
							</div>
							<div class="form-group">
								{{ login_form.submit(class="btn btn-outline-info") }}
							</div>
							<small class="text-muted ml-2">
								<a href="#">Forgot Password</a>
							</small>
				</form>
		      </div>
		      <div class="modal-footer d-fex justify-content-center">
		        <div class="form-group">
						<small class="txt-muted">
							Don't have An Account? <a href="#" data-toggle="modal" data-target="#modalRegisterForm"><span id="" style="color: #ffc615">Log In</span></a>
						</small>
				</div>
		      </div>
		    </div>
		  </div>
	</div>

<!-- The top image section -->
	<svg viewbox="0 0 100 20">
  		<!-- <path fill="#F2FFB6" d="M0 30 V12 Q30 17 55 12 T100 11 V30z" /> -->
	</svg>

<!-- The main section -->
	<main role="main" class="container-fluid">
	  <div class="row">
	    <div class="col-md-12">
	    	{% with messages = get_flashed_messages(with_categories=true) %}
	    		{% if messages %}
	    			{% for category, message in messages %}
	    				<div class="alert alert-{{ category }}">
	    					{{ message }}
	    				</div>
	    			{% endfor %}
	    		{% endif %}
	    	{% endwith %}
	    	<div class="">
	    		{% block content %}{% endblock %}
	    	</div>
	  </div>
	</main>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>