<link rel="stylesheet" href="../static/custom.css" type="text/css">


<div class="container">
	<nav>
		<ul>
			<li><a href="/home">Home</a></li>
		</ul>
	</nav>
</div>
<form action="/do_sign_up" method="POST">
	<div class="login">
		<div class="signup-screen">
			<div class="app-title">
				<h1>Sign Up</h1>
				<hr>
			</div>
			<div class="login-form">
				<div class="control-group">
					<input type="text" class="signup-field" value="" placeholder="Enter Username" name="username">
					<label class="login-field-icon fui-user" for="signup-name"></label>
				</div>
				<div class="control-group">
					<input type="email" class="signup-field" value="" placeholder="Enter Email" name="email">
					<label class="login-field-icon fui-user" for="signup-email"></label>
				</div>
				<div class="control-group">
					<input type="password" class="signup-field" value="" placeholder="Enter Password" name="password">
					<label class="login-field-icon fui-lock" for="signup-pass"></label></div>
					<input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block">
					<hr>
					<p>Already have account?<a href="/login"> Log In</a>
				</div>
		</div>
	</div>
</form>
